*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 50;
}

.orange_logo {
  height: 40px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.store_name {
  font-weight: 500;
  font-size: 2.2vh;
  color: #000000;
  letter-spacing: 4px;
}

.logo_img {
  background-image: url("../assets/images/icons8-pottery-96.png");
  background-size: cover;
  min-height: 40px;
  min-width: 40px;
}

.main_navigation {
  list-style-type: none;
  margin-left: 5vw;
}

.navigation_item {
  display: inline;
  padding-right: 1.5vw;
  text-transform: uppercase;
  font-size: 2vh;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #bf7631;
}

.right_nav_part {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5vw;
  width: 20%;
}

.searchbar {
  margin-right: 1vw;
  width: 75%;
  background-image: url("../assets/images/1200px-Google_Magnifying_Glass.svg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(3vh - 1px);
  box-shadow: none;
  border-radius: 0px;
  height: 3vh;
  padding-left: 3px;
  padding-right: 3px;
}

.shopping_cart {
  text-transform: uppercase;
  font-size: 2vh;
}

.nav_bar_hr {
  color: black;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 96vw;
  margin-top: 15px;
  height: 4px;
  background-color: #000000;
}

.above_nav_hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 27px;
}

nav {
  margin-top: 1vh;
}

#heading {
  background-image: url("../assets/images/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
  width: 100%;
  height: 633px;
  margin-top: 15px;
  background-size: cover;
  position: relative;
}

.transition {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 1) 0%,
    rgb(0, 0, 0, 0) 25%,
    rgb(0, 0, 0, 0) 75%,
    rgb(0, 0, 0, 1) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.upper_left_text {
  position: absolute;
  text-transform: uppercase;
  top: 8vh;
  left: 5vw;
  font-size: 3vh;
  width: 9vw;
  color: #ffffff;
}

.lower_right_text {
  position: absolute;
  text-transform: uppercase;
  bottom: 8vh;
  right: 5vw;
  font-size: 3vh;
  width: 9vw;
  color: #ffffff;
}

.about_us_section {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
}

.about_us_text_container {
  width: 65%;
}

.about_us_right_picture {
  width: 35%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.about_us_hr {
  color: black;
  width: 100%;
  height: 4px;
  margin-top: 1vh;
  background-color: #000000;
}

.about_us_content {
  display: flex;
}

.about_us_heading {
  text-transform: uppercase;
  font-size: 3vh;
}

.flip_image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.wheat_image {
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.about_us_main_text_container {
  width: 65%;
  display: inline;
}

.first_about_us_paragraph {
  font-size: 20px;
  margin-top: 8vh;
  margin-left: 3vw;
}

.next_about_us_content_part {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.flower_vase {
  size: 397px;
  height: 534px;
}

.remaining_paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}

.margin_text {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 4vh;
}

.product {
  width: 399px;
  height: 692px;
  overflow: hidden;
}

.product_image {
  width: 399px;
}

.name_and_price {
  display: flex;
  justify-content: space-between;
}

.product_name {
  text-transform: uppercase;
  font-size: 3vh;
}

.price {
  font-size: 3vh;
}

.below_product_name_divider {
  color: black;
  width: 70%;
  height: 4px;
  margin-top: 1vh;
  background-color: #000000;
}

.product_description {
  font-size: 20px;
  margin-top: 7px;
}

.product_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.learn_more {
  color: #bf7631;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: underline;
}

.atc_button {
  background-color: #bf7631;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  padding: 4px 10px 4px 10px;
}

.atc_button:active {
  background-color: #707070;
}
